In [6]:
# import pandas as pd
# staty = pd.read_json("staty.json")
# staty.set_index("name", inplace=True)
# staty[["population", "area"]]
# staty["population_density"] = staty["population"] / staty["area"]
# staty = staty.sort_values("population_density", ascending=False)
# staty.head(20)

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini,population_density
name,,,,,,,,,
Macao,MO,MAC,,Asia,Eastern Asia,649100,30.00,NaN,21636.666667
Monaco,MC,MCO,Monaco,Europe,Western Europe,38400,2.02,NaN,19009.900990
Singapore,SG,SGP,Singapore,Asia,South-Eastern Asia,5535000,710.00,48.1,7795.774648
Hong Kong,HK,HKG,City of Victoria,Asia,Eastern Asia,7324300,1104.00,53.3,6634.329710
Gibraltar,GI,GIB,Gibraltar,Europe,Southern Europe,33140,6.00,NaN,5523.333333
Bahrain,BH,BHR,Manama,Asia,Western Asia,1404900,765.00,NaN,1836.470588
Malta,MT,MLT,Valletta,Europe,Southern Europe,425384,316.00,NaN,1346.151899
Bermuda,BM,BMU,Hamilton,Americas,Northern America,61954,54.00,NaN,1147.296296
Maldives,MV,MDV,Mal√©,Asia,Southern Asia,344023,300.00,37.4,1146.743333
Sint Maarten (Dutch part),SX,SXM,Philipsburg,Americas,Caribbean,38247,34.00,NaN,1124.911765
Bangladesh,BD,BGD,Dhaka,Asia,Southern Asia,161006790,147570.00,32.1,1091.053669
Holy See,VA,VAT,Rome,Europe,Southern Europe,451,0.44,NaN,1025.000000
Jersey,JE,JEY,Saint Helier,Europe,Northern Europe,100800,116.00,NaN,868.965517
Guernsey,GG,GGY,St. Peter Port,Europe,Northern Europe,62999,78.00,NaN,807.679487
Saint Martin (French part),MF,MAF,Marigot,Americas,Caribbean,36979,53.00,NaN,697.716981
Barbados,BB,BRB,Bridgetown,Americas,Caribbean,285000,430.00,NaN,662.790698
Taiwan,TW,TWN,Taipei,Asia,Eastern Asia,23503349,36193.00,NaN,649.389357
Mauritius,MU,MUS,Port Louis,Africa,Eastern Africa,1262879,2040.00,NaN,619.058333
Aruba,AW,ABW,Oranjestad,Americas,Caribbean,107394,180.00,NaN,596.633333
Lebanon,LB,LBN,Beirut,Asia,Western Asia,5988000,10452.00,NaN,572.904707

In [32]:
# Nacti dva datove sety sttudentu do oddelenych pandas DataFrame a pomoci concat je spoj do jednoho setu.
import pandas as pd

jmena = pd.read_csv("jmena_2.csv")
s1 = pd.read_csv("studenti1.csv")
s2 = pd.read_csv("studenti2.csv")

studenti_all = pd.concat([s1, s2], ignore_index=True)
studenti_all.shape[0]

345

In [26]:
# Pokud studentovi chyb√≠ roƒçn√≠k, znamen√° to, ≈æe ji≈æ nestuduje. Pokud mu chyb√≠ ƒç√≠slo skupiny, znamen√° to, ≈æe jde o d√°lkov√©ho studenta.
# Kolik student≈Ø v datov√©m setu ji≈æ nestuduje a kolik jsou d√°lkov√≠ studenti?
absolventi = (studenti_all[studenti_all['roƒçn√≠k'].isnull()])
print(absolventi.head(20))
absolventi.shape[0]

         jm√©no     p≈ô√≠jmen√≠                      obor  roƒçn√≠k  kruh  prospƒõch
6         Anna  Pavlou≈°kov√°        poƒç√≠taƒçov√° grafika     NaN  12.0      2.66
13       Alena      Krajov√°    softwarov√© in≈æen√Ωrstv√≠     NaN   7.0      1.64
33      Ond≈ôej         Cicu        poƒç√≠taƒçov√° grafika     NaN   1.0      2.18
38      V√°clav       Straka        poƒç√≠taƒçov√° grafika     NaN   NaN      2.36
45      Michal      Linhart    softwarov√© in≈æen√Ωrstv√≠     NaN   9.0      2.20
64      Libu≈°e    ≈†terclov√°        webov√© in≈æen√Ωrstv√≠     NaN  12.0      1.93
77    Miroslav        Smrek        poƒç√≠taƒçov√° grafika     NaN   2.0      1.86
89        Petr        Dobe≈°    softwarov√© in≈æen√Ωrstv√≠     NaN  12.0      1.47
96    Kate≈ôina     K≈ôivkov√°  informatika a management     NaN   6.0      2.88
110      Pavel         Nov√Ω        webov√© in≈æen√Ωrstv√≠     NaN   1.0      2.37
124      David         ≈†ikl        poƒç√≠taƒçov√° grafika     NaN  10.0      1.20
146       Ji≈ô√≠        Zeman  informatika a management     NaN  12.0      2.28
185     Eli≈°ka       ≈ò√≠pov√°         spr√°va IT syst√©m≈Ø     NaN   NaN      1.39
189      Pavla     Plhalov√°         spr√°va IT syst√©m≈Ø     NaN   9.0      1.43
194      David      ≈†eveƒçek  informatika a management     NaN   1.0      2.88
203      Radek     Chr√°stek        ƒç√≠slicov√° technika     NaN   2.0      2.00
204     Blanka      Koubov√°        poƒç√≠taƒçov√° grafika     NaN   5.0      2.05
209    Jarmila      Seluck√°  informatika a management     NaN   6.0      2.34
212  Stanislav       Vesel√Ω  informatika a management     NaN   5.0      2.48
231      Irena     ≈†tavkov√°        webov√© in≈æen√Ωrstv√≠     NaN   5.0      1.67
234      ≈†√°rka     ≈†ustrov√°        ƒç√≠slicov√° technika     NaN   6.0      2.01
246     Blanka       Dubov√°    softwarov√© in≈æen√Ωrstv√≠     NaN   1.0      2.91
248     V√°clav       Hrabec    teoretick√° informatika     NaN   6.0      2.72
259    Martina  Z√°meƒçn√≠kov√°        ƒç√≠slicov√° technika     NaN   6.0      2.24
263     Zuzana    Dvo≈ô√°kov√°        webov√© in≈æen√Ωrstv√≠     NaN  10.0      3.00
272   Miloslav        Vozka        webov√© in≈æen√Ωrstv√≠     NaN   9.0      2.21
283       Ji≈ô√≠      Jel√≠nek        webov√© in≈æen√Ωrstv√≠     NaN   7.0      2.87
296      Libor        Boƒçek  informatika a management     NaN   9.0      1.72
316      Jitka       Z√≠kov√°    softwarov√© in≈æen√Ωrstv√≠     NaN   7.0      2.98
318     Renata     Vrkoƒçov√°        ƒç√≠slicov√° technika     NaN   3.0      1.74
320   Miroslav      R≈Ø≈æiƒçka        webov√© in≈æen√Ωrstv√≠     NaN   7.0      1.37
328    Barbora      Surmov√°         spr√°va IT syst√©m≈Ø     NaN  12.0      2.61
331      Radek       Svato≈°        poƒç√≠taƒçov√° grafika     NaN   1.0      2.85

33

In [27]:
dalkari = (studenti_all[studenti_all['kruh'].isnull()])
print(dalkari.head(20))
dalkari.shape[0]

        jm√©no    p≈ô√≠jmen√≠                      obor  roƒçn√≠k  kruh  prospƒõch
26   Jaroslav       Honza        ƒç√≠slicov√° technika     2.0   NaN      2.54
31     Zdenƒõk       Hor√°k        ƒç√≠slicov√° technika     2.0   NaN      2.63
38     V√°clav      Straka        poƒç√≠taƒçov√° grafika     NaN   NaN      2.36
57     Monika  Dole≈æalov√°         spr√°va IT syst√©m≈Ø     5.0   NaN      1.27
65    Nat√°lie   Pet≈ô√≠kov√°        webov√© in≈æen√Ωrstv√≠     5.0   NaN      2.99
73        Jan        P√≥da        ƒç√≠slicov√° technika     2.0   NaN      2.33
76     Martin       Lupaƒç        webov√© in≈æen√Ωrstv√≠     4.0   NaN      1.50
90       Ji≈ô√≠      Karban        poƒç√≠taƒçov√° grafika     2.0   NaN      1.89
103     Luk√°≈°     Jar≈Ø≈°ek        poƒç√≠taƒçov√° grafika     2.0   NaN      2.09
107     Roman     Marinec         spr√°va IT syst√©m≈Ø     2.0   NaN      2.14
136     Lucie      Dudov√°        ƒç√≠slicov√° technika     3.0   NaN      2.15
160      Vƒõra    S√Ωkorov√°         spr√°va IT syst√©m≈Ø     2.0   NaN      1.71
185    Eli≈°ka      ≈ò√≠pov√°         spr√°va IT syst√©m≈Ø     NaN   NaN      1.39
188     Jakub       Kodet        ƒç√≠slicov√° technika     2.0   NaN      1.83
202    Daniel      Rezler        poƒç√≠taƒçov√° grafika     4.0   NaN      2.97
211     Petra    ≈†l√©grov√°        ƒç√≠slicov√° technika     3.0   NaN      2.71
226       Jan        Hajs         spr√°va IT syst√©m≈Ø     1.0   NaN      1.58
238    Dagmar    Musilov√°        poƒç√≠taƒçov√° grafika     5.0   NaN      1.31
249      Vƒõra   Kopperov√°  informatika a management     5.0   NaN      2.51
260  Veronika   Fieberov√°    teoretick√° informatika     1.0   NaN      2.18

27

In [31]:
# Vyƒçisti data od student≈Ø, kte≈ô√≠ nestuduj√≠ nebo studuj√≠ jen d√°lkovƒõ. Nad√°le budeme pracovat pouze s prezenƒçn√≠mi studenty.
prezencni_studenti = studenti_all.dropna()
prezencni_studenti.shape[0]

287

In [35]:
# Zjisti, kolik prezenƒçn√≠ch student≈Ø je v ka≈æd√©m z obor≈Ø.
pocet_studentu_oboru = prezencni_studenti['obor'].value_counts()
print(pocet_studentu_oboru)

informatika a management    49
teoretick√° informatika      47
webov√© in≈æen√Ωrstv√≠          46
softwarov√© in≈æen√Ωrstv√≠      41
spr√°va IT syst√©m≈Ø           38
poƒç√≠taƒçov√° grafika          33
ƒç√≠slicov√° technika          33
Name: obor, dtype: int64

In [38]:
# Zjisti pr≈Ømƒõrn√Ω prospƒõch student≈Ø v ka≈æd√©m oboru.
prumerny_prospech = prezencni_studenti.groupby("obor")["prospƒõch"].mean()
print(prumerny_prospech)

obor
informatika a management    2.088980
poƒç√≠taƒçov√° grafika          1.971515
softwarov√© in≈æen√Ωrstv√≠      1.960976
spr√°va IT syst√©m≈Ø           1.917632
teoretick√° informatika      2.136809
webov√© in≈æen√Ωrstv√≠          2.079130
ƒç√≠slicov√° technika          2.047576
Name: prospƒõch, dtype: float64

In [ ]:
# Naƒçti datov√Ω set s k≈ôestn√≠mi jm√©ny. Proveƒè join s tabulkou student≈Ø tak, abychom vƒõdƒõli pohlav√≠ jednotliv√Ωch student≈Ø.

In [ ]:
# Zjisti, zda na na≈°√≠ fakultƒõ studuj√≠ IT sp√≠≈°e ≈æeny nebo sp√≠≈°e mu≈æi.